@import "../vars";

nav {
  background: $black;
  list-style: none;
  margin: 0 auto;
  padding: 0;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  font-family: $sans;
  font-size: .85rem;
  border-bottom: 1px solid $black;

  a {
    flex-grow: 1;
    text-align: center;
    display: block;
    line-height: 2.5rem;
    color: white;
    text-decoration: none;
    font-weight: bold;

    &.contact,
    &.less,
    &.feed {
      display: none;
    }

    &:hover {
      color: $black;
      background: $lightGrey;
    }

    // When the screen is wide enough, show the extended menu items and hide the "more..." tab.
    @media only screen and (min-width: 480px) {
      flex-grow: 1;

      &.contact,
      &.feed {
        display: block;
      }

      &.more {
        display: none;
      }
    }
  }
}

nav.expanded {
  flex-direction: column;

  a {
    border-bottom: 1px solid $darkGrey;

    // Show extended menu items.
    &.less,
    &.contact,
    &.feed {
      display: block;
    }

    // Hide "More..." tab when in extended view.
    &.more {
      display: none;
    }
  }
}


@media only screen and (min-width: 480px) {
  nav {
    a {
      font-size: .76rem;
      line-height: 1.76rem;
    }
  }
}