@import "vars";

html {
  font-size: 18px;
  font-family: $sans;
  line-height: 1.5em;
  color: $black;
}

body {
  background: $white;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 1.2rem;
  text-align: center;
  font-family: $sans;
}

blockquote {
  margin: 1.5em 0px;
  padding: 12px 36px 3px 24px;
  background: lighten($white, 4%);
  border-left: 12px solid $darkGrey;
  font-style: italic;
  color: $darkGrey;

  -webkit-box-shadow: 3px 4px 7px 1px rgba(221,221,221,1);
  -moz-box-shadow: 3px 4px 7px 1px rgba(221,221,221,1);
  box-shadow: 3px 4px 7px 1px rgba(221,221,221,1);

  .citation {
    text-align: right;
    font-style: normal;
    font-size: .85rem;
    font-weight: bold;
  }
}
