$blackout__color1: rgba(97, 102, 102, 1);
$blackout__color2: #63000d;
$blackout__color3: rgba(203, 212, 225, 1);
$blackout__color4: rgba(241, 247, 252, 1);
$blackout__color5: #00080c;

body.theme--blackout {
  color: $blackout__color1;
  background: $blackout__color5;

  blockquote {
    background: $blackout__color4;
    border-color: $blackout__color2;
    color: $blackout__color2;
  }

  nav {
    background: $blackout__color2;
    border-bottom: 1px solid $blackout__color2;

    a {
      &:hover {
        color: $blackout__color2;
        background: $blackout__color3;
      }
    }
  }

  nav.expanded {
    a {
      border-bottom: 1px solid $blackout__color1;
    }
  }

  .post-links__link {
    color: $blackout__color2;
  }

  .post-links__link:hover {
    background: $blackout__color1;
    color: $blackout__color4;
  }

  #footer {
    color: $blackout__color4;
    background: $blackout__color2;
  }
}