html {
  font-size: 18px;
  font-family: Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", sans-serif;
  line-height: 1.5em;
  color: #222; }

body {
  background: #F7F7E4; }

a {
  text-decoration: none; }

h1 {
  font-size: 1.2rem;
  text-align: center;
  font-family: Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", sans-serif; }

blockquote {
  margin: 1.5em 0px;
  padding: 12px 36px 3px 24px;
  background: #fcfcf4;
  border-left: 12px solid #444;
  font-style: italic;
  color: #444;
  -webkit-box-shadow: 3px 4px 7px 1px #dddddd;
  -moz-box-shadow: 3px 4px 7px 1px #dddddd;
  box-shadow: 3px 4px 7px 1px #dddddd; }
  blockquote .citation {
    text-align: right;
    font-style: normal;
    font-size: .85rem;
    font-weight: bold; }

#footer {
  padding: 30px 12px;
  color: #F7F7E4;
  background: #222; }

#site-name {
  font-weight: bold;
  font-size: 1.6rem;
  text-align: center;
  margin-bottom: .5em; }

#copyright {
  font-size: .76rem;
  text-align: center;
  line-height: 1rem; }

#main {
  padding: 0;
  width: 100%;
  max-width: 760px;
  margin: 0 auto; }

.post-date {
  font-weight: bold;
  font-size: .85rem;
  text-align: center;
  margin: .75rem 0; }

.post-image {
  text-align: center;
  background: #222;
  padding: 5px;
  margin: 12px auto;
  max-width: 92%; }

.post-image img {
  display: block;
  height: auto;
  width: 100%; }

@media screen and (min-width: 760px) {
  .post-image {
    margin: 24px auto; }
    .post-image.vertical {
      padding: 5px;
      max-width: 400px; } }
.post-article {
  padding: 16px;
  text-align: justify;
  text-justify: inter-character; }
  .post-article h1 {
    margin: 0;
    line-height: 1.35em; }
  .post-article p {
    text-indent: 2em;
    margin: 0 0 .3rem 0; }
  .post-article blockquote p {
    text-indent: 0px; }

.post-links {
  font-weight: bold; }

@media screen and (min-width: 760px) {
  .post-links {
    display: flex; } }
.post-links__link {
  display: block;
  padding: 16px;
  color: #222; }

.post-links__link:hover {
  background: #444;
  color: #F7F7E4; }

nav {
  background: #222;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
  text-transform: uppercase;
  font-family: Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", sans-serif; }
  nav a {
    flex-grow: 1;
    text-align: center;
    display: block;
    line-height: 2.5rem;
    color: white;
    text-decoration: none;
    font-weight: bold; }
    nav a.contact, nav a.less, nav a.feed {
      display: none; }
    nav a:hover {
      color: #222;
      background: #ddd; }
    @media only screen and (min-width: 480px) {
      nav a.contact, nav a.feed {
        display: block; }
      nav a.more {
        display: none; } }

nav.expanded {
  flex-direction: column; }
  nav.expanded a {
    border-bottom: 1px solid #444; }
    nav.expanded a.less, nav.expanded a.contact, nav.expanded a.feed {
      display: block; }
    nav.expanded a.more {
      display: none; }

/*# sourceMappingURL=styles.css.map */
