// Colors
$black: #222;
$darkGrey: #444;
$lightGrey: #ddd;
$white: #F7F7E4;

// Fonts
$sys: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu,
Cantarell, "Helvetica Neue", sans-serif;

$sans: Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans",
"Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", sans-serif;

// Breakpoints
$mobile: 375px;
$desktop: 760px;

$maxContentWidth: 960px; // <= Old school!