@import "../vars";

#footer {
  padding: 30px 12px;
  color: $white;
  background: $black;
}

#site-name {
  font-weight: bold;
  font-size: 1.6rem;
  text-align: center;
  margin-bottom: .5em;
}

#copyright {
  font-size: .76rem;
  text-align: center;
  line-height: 1rem;
}