@import "../vars";

#nav-main {
  background: $black;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
  text-transform: uppercase;
  font-family: $sans;
}

#nav-main li {
  flex-grow: 1;
}

.nav-main__contact,
.nav-main__less,
.nav-main__feed {
  display: none;
}

@media only screen and (min-width: 480px) {
  .nav-main__contact,
  .nav-main__feed {
    display: block;
  }
  .nav-main__more {
    display: none;
  }
}

#nav-main.expanded {
  flex-direction: column;
}

#nav-main.expanded .nav-main__more {
  display: none;
}

#nav-main.expanded .nav-main__less,
#nav-main.expanded .nav-main__contact,
#nav-main.expanded .nav-main__feed {
  display: block;
}

#nav-main.expanded li {
  border-bottom: 1px solid $darkGrey;
}

#nav-main a {
  text-align: center;
  display: block;
  line-height: 2.5rem;
  color: white;
  text-decoration: none;
  font-weight: bold;
}

#nav-main a:hover {
  color: $black;
  background: $lightGrey;
}